<div class="left_nav">

  <h3>哈啊哈</h3>
  <ul>
    <li><a href="#">Some Books</a></li>
    <li><a href="#">Some Books</a></li>
    <li><a href="#">Some Books</a></li>
    <li><a href="#">Some Books</a></li>
  </ul>

  <% @categories.each do |category| %>

      <li class="list-group-item list-group-item-info"><%= category.name %></li>

  <% end %>


</div>
