

<div class="wrapper footer-container">
	<div class="container">
	<div class="row">
		<div class="col-md-8">
			<p class="footer-copyright">Copyright ©2017 大象书库. All Rights Reserved. |
				Design by <a href="http://booox.logdown.com">liuzx</a> & <a href="http://liulupeng-blog.logdown.com"> liulp</a>
			</p>
		</div>

	</div>
	</div>
</div>
