<div class="left_nav">

  <h2>分类列表</h2>
  <ul>
    <% Category.main_categories.each do |main_category| %>
      <div>
        <li><%= main_category.name %></li>
        <!-- <% if main_category %> -->
        <ul>
          <% main_category.children_categories.each do |sub_category| %>
            <li> <%= link_to( sub_category.name, category_path(sub_category)) %> </li>
          <% end %>
        <!-- <% end %> -->
      </ul>
      </div>
    <% end %>
  </ul>




</div>
