<div class="left_nav">

  <h3>Popular in Books</h3>
  <ul>
    <li><a href="#">Some Books</a></li>
    <li><a href="#">Some Books</a></li>
    <li><a href="#">Some Books</a></li>
    <li><a href="#">Some Books</a></li>
  </ul>
  <% Category.all.each do |category| %>
          <li class="menuList-item fl <%= 'menuList-activeItem' if @product.category.name == category.name %>">
            <%= link_to category.name, products_path(category: category.name), class: "link" %>
          </li>
        <% end %>



</div>
